<h1>Welcome to Furry Friends Shelters</h1>

<ul>
  <li><a href="/shelters">Shelter Index</a></li>
  <li><a href="/pets">Pet Index</a></li>
</ul>

<img src="https://i.pinimg.com/originals/13/37/7f/13377fdae7748c7b12abd6651a624d63.jpg" alt="Friends">
